<app-add-quiz (onAddQuiz)="addQuiz($event)"></app-add-quiz>
<div class="container ml-60">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            quiz
          </th>
          <th scope="col" class="px-6 py-3">
            trainer
          </th>
          <th scope="col" class="px-6 py-3">
            action
          </th>
        </tr>
      </thead>

      <tbody *ngFor="let quiz of quizes">
        <tr
          class="odd:bg-blend-darken odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <a routerLink ="/temporisation/{{quiz.id}}">
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{quiz.remarks}}
            </td>
          </a>
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{quiz.trainer?.firstName}}
          </td>
          <td class="px-6 py-4">
            <fa-icon (click)="deleteQuiz(quiz)" [ngStyle]="{'color':'red'}" [icon]="faTimes "></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>