<div class="container ml-60">
<app-button class="bg-blue-500 text-white py-2 px-4 rounded flex justify-center items-center" *ngIf="hasRoute('/level')"
  text="{{showAddLevel ?'close': 'add'}}" 
  (btnClick)="toggleAddLevel()">
</app-button>
<app-add-level (onAddLevel)="addLevel($event)"></app-add-level>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Level
        </th>
        
        <th scope="col" class="px-6 py-3">
          point min
        </th>
        <th scope="col" class="px-6 py-3">
          point max
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
    </thead>

    <tbody *ngFor="let level of levels">
      <tr
        class="odd:bg-blend-darken odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{level.description}}
        </th>
      
        <td class="px-6 py-4">
          {{level.pointMin}}
        </td>
        <td class="px-6 py-4">
          {{level.pointMax}}
        </td>
        <td class="px-6 py-4">
          <fa-icon (click)="deleteTask(level)" [ngStyle]="{'color':'red'}" [icon]="faTimes "></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>